<div id="list">
    <div id="headers">
        <div class="header" id="data_time"> Date </div>
        <div class="header" id="problem_name"> Problem name </div>
        <div class="header" id="file_status"> Status </div>
        <div class="header" id="test_case"> Test case </div>
    </div>
    <br style="clear: both" />
    <div id="list_items">
        [:list_item:]
        <div id="{{:index:}}" class="item">
            <div class="object"> {{:date:}} </div>
            <div class="object"> {{:problem:}} </div>
            <div class="object"> {{:status:}} </div>
            <div class="object"> {{:test:}} </div>
        </div>
        <br style="clear: both" />
        [:list_item:]
    </div>
</div>